.all_posts {
  .post {
    list-style: none;
    border-bottom: 1px solid $gray-3;
    padding: 1rem 0;
    .controls {
      // Separator between control buttons.
      a:not(:last-child):after {
        content: "|";
        padding: 0 5px;
      }
    }
  }
}
